*__pycache__*
data/
log/
model/
paper_predictions/
param_results/
predictions/
summary/
plotting/*.txt
plotting/*.log
caida_preprocessing/*.npy
caida_preprocessing/*.npz
caida_preprocessing/*pcap 
*Zone.Identifier
